.purple{
  background-color: rgb(197, 135, 255); 
  display: flex;
  justify-content: center;
  padding: 30px;
}
.blue{
    background-color: rgb(86, 159, 255);
    padding: 20px;
    margin: 30px;
 }  
 .yo{
    background-color: rgb(221, 236, 8);
    padding: 20px;
    margin: 10px;
 }
 .flex{
    display: flex;
 }
 